*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
}

.container {
  background-color: #C4C4C4;
  padding: 50px 50px;
}

.clearfix::after {
  clear: both;
  display: block;
  content: '';
}

.section {
  background-color: #E6E6E6;
  margin-bottom: 50px;
}

.section:last-child {
  margin-bottom: 0;
}

.big,
.biggy {
  width: 200px;
  height: 200px;
  background-color: #FC8F8F;

  font-size: 64px;
  line-height: 200px;
}

.small {
  direction: rtl;
  width: 100px;
  height: 100px;
  background-color: #FC8F8F;

  font-size: 36px;
  line-height: 100px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right:nth-child(5) {
  margin-right: 15px;
}

.right:nth-child(4) {
  margin-right: 15px;
}

.right:nth-child(3) {
  margin-right: 15px;
}

.biggy {
  display: inline-block;
}

.fs {
  font-size: 0; /*kill weird margins*/
}

.fs>div {
  margin-right: 15px;
}


